

@media (max-width: 990px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .open .dropdown-menu {
    display: block;
  }
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}
@media (max-width: 990px) {
  .logo-control .logo-img-sm {
    display: block;
  }
  .logo-control .logo-img {
    display: none;
  }
}
@media (min-width: 991px) {
  .logo-control .logo-img-sm {
    display: none;
  }
  .logo-control .logo-img {
    display: block;
  }
}
#community-wrap .collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
}

body {
  padding-top: 55px;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #cc0000;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover,
a:focus {
  color: #800000;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
th,
td {
  line-height: 1.42857143;
  text-align: left;
  vertical-align: top;
}
th {
  font-weight: bold;
}
td,
tr td {
  border-top: 1px solid #dddddd;
}
.cat-list-row0:hover,
.cat-list-row1:hover {
  background: #f5f5f5;
}
.cat-list-row1,
tr.cat-list-row1 td {
  background: #f9f9f9;
}
table.contentpane,
table.tablelist,
table.category,
table.admintable,
table.blog {
  width: 100%;
}
table.contentpaneopen {
  border: 0;
}
.star {
  color: #ffcc00;
}
.red {
  color: #cc0000;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.wrap {
  width: auto;
  clear: both;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 992px) {
  .lead {
    font-size: 18px;
  }
}
small,
.small {
  font-size: 85%;
}
cite {
  font-style: normal;
}
.text-muted {
  color: #999999;
}
.text-primary {
  color: #cc0000;
}
.text-warning {
  color: #c09853;
}
.text-danger {
  color: #b94a48;
}
.text-success {
  color: #468847;
}
.text-info {
  color: #3a87ad;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-center .item-image img {
  margin: 0 auto;
}
.inline {
  display: inline-block;
}
.inline + .inline {
  margin-left: 20px;
}
.highlight {
  background-color: #FFC;
  font-weight: bold;
  padding: 1px 4px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 42px;
}
h2,
.h2 {
  font-size: 35px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
h1 small,
.h1 small {
  font-size: 24px;
}
h2 small,
.h2 small {
  font-size: 18px;
}
h3 small,
.h3 small,
h4 small,
.h4 small {
  font-size: 14px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 991px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
  .dl-horizontal dd:after {
    clear: both;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote small {
  display: block;
  line-height: 1.42857143;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code,
kbd,
pre,
samp {
  font-family: Consolas, Monaco, "Courier New", monospace;
}

legend {
  padding-bottom: 10px;
  font-weight: 700;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 20px;
}
.radio label,
.checkbox label {
  display: inline;
}
.form-control-static {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
.btn-inverse {
  color: #ffffff;
  background-color: #444444;
  border-color: #373737;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #303030;
  border-color: #191919;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #444444;
  border-color: #373737;
}
.btn-inverse .badge {
  color: #444444;
  background-color: #ffffff;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.btn-actions .btn-lg {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 20px;
}
.btn-actions .btn + .btn {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .btn-actions .btn-lg {
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 30px;
  }
}
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.inputbox::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.inputbox:-ms-input-placeholder {
  color: #999999;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.inputbox::-webkit-input-placeholder {
  color: #999999;
}
textareaselect,
textareatextarea,
textareainput[type="text"],
textareainput[type="password"],
textareainput[type="datetime"],
textareainput[type="datetime-local"],
textareainput[type="date"],
textareainput[type="month"],
textareainput[type="time"],
textareainput[type="week"],
textareainput[type="number"],
textareainput[type="email"],
textareainput[type="url"],
textareainput[type="search"],
textareainput[type="tel"],
textareainput[type="color"],
textarea.inputbox {
  height: auto;
}
@media screen and (min-width: 768px) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .inputbox {
    width: auto;
  }
}
select,
select.form-control,
select.inputbox,
select.input {
  padding-right: 5px;
}
.input-append .active,
.input-prepend .active {
  background-color: #9bd7a8;
  border-color: #3e9b52;
}
.invalid {
  border-color: #cc0000;
}
label.invalid {
  color: #cc0000;
}
input.invalid {
  border: 1px solid #cc0000;
}

.caret {
  margin-left: 5px;
  margin-top: -2px;
}
.dropdown-menu {
  padding: 0;
  min-width: 200px;
}
.dropdown-menu .divider {
  margin: 0;
  height: 10px;
  background-color: #373737;
}
.dropdown-menu > li {
  border-top: 1px solid #515151;
}
.dropdown-menu > li:first-child {
  border-top: 0;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-header {
  padding: 3px 20px;
  font-size: 14px;
}
.dropdown-header a {
  color: #999999;
}
.dropdown-submenu > a:after {
  border-left-color: #999999;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
@media (min-width: 991px) {
  .nav > li > .separator {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
}
.nav-tabs {
  border-bottom: 1px solid #eeeeee;
}
.nav-tabs > li > a {
  padding: 10px;
  line-height: normal;
  border: 0;
  text-transform: uppercase;
}
.nav-tabs > li > a:hover {
  border: 0;
  background: transparent;
}
.nav-tabs > li.active > a {
  background: #444444;
  border: 0;
  color: #fff;
  margin-bottom: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #444444;
  border: 0;
  color: #fff;
}
.tab-content {
  padding: 10px 0;
  border-top: 0;
}
.nav .caret {
  border-top-color: #cc0000;
  border-bottom-color: #cc0000;
}
.nav a:hover .caret {
  border-top-color: #800000;
  border-bottom-color: #800000;
}
.t3-navhelper {
  background: #eeeeee;
  color: #999999;
  padding: 5px 0;
}
.breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #999999;
}
.breadcrumb .divider {
  display: none;
}
.pagination {
  display: block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .pagination {
    float: left;
  }
}
.pagination .pagination {
  display: inline-block;
}
.counter {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 0;
}
@media screen and (min-width: 768px) {
  .counter {
    float: right;
  }
}

.navbar-toggle {
  padding: 0;
  height: 55px;
  line-height: 55px;
  width: 55px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 8.75px -20px;
}
@media (min-width: 991px) {
  .navbar-nav {
    margin: 0;
  }
}
.navbar-default {
  background-color: #cc0000;
  border-color: #b30000;
}
.navbar-default .navbar-text {
  color: #ffcccc;
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li {
    margin-left: 30px;
  }
}
.navbar-default .navbar-nav > li > a {
  color: #ffcccc;
  padding: 20px;
  text-transform: uppercase;
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li > a {
    padding: 0;
    line-height: 55px;
  }
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
  }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
  }
}
.navbar-default .navbar-toggle {
  border: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #b30000;
  color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .fa-bars {
  background-color: transparent;
  color: #ffcccc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b30000;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}
@media screen and (min-width: 991px) {
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    -webkit-box-shadow: inset 0 -2px 0 #ffffff;
    box-shadow: inset 0 -2px 0 #ffffff;
  }
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffcccc;
  border-bottom-color: #ffcccc;
}
@media (max-width: 991px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    background: #b30000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li {
    border-top-color: #990000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffcccc;
    padding: 20px 20px 20px 30px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0);
  }
}
@media screen and (max-width: 991px) {
  .navbar-default .navbar-nav .open .level2.dropdown-menu {
    background: #990000;
    border-top: 1px solid #800000;
    margin-top: 0;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li {
    border-top-color: #800000;
  }
  .navbar-default .navbar-nav .open .level2.dropdown-menu > li > a {
    padding-left: 40px;
  }
}
.navbar-default .navbar-link {
  color: #ffcccc;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
.t3-mainnav {
  border: 0;
  border-bottom: 1px solid #b30000;
  margin-bottom: 0;
  border-radius: 0;
}
@media (min-width: 991px) {
  .t3-mainnav > .container {
    position: relative;
  }
}
.t3-mainnav .t3-navbar {
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.t3-mainnav .t3-navbar-collapse {
  margin-top: 55px;
}
@media (min-width: 991px) {
  .t3-mainnav .t3-navbar-collapse {
    display: none !important;
  }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav {
  margin: 0 -20px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a .fa {
  margin-right: 5px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid #b30000;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a {
  border-top: 0;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .open .dropdown-menu {
  left: -1px;
}
.t3-mainnav .t3-navbar-collapse .navbar-nav .dropdown > a .caret {
  position: absolute;
  top: 40%;
  right: 12px;
}

.t3-module {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .t3-module {
    margin-bottom: 40px;
  }
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .module-title {
    margin-bottom: 20px;
  }
}
.module-ct {
  background: rgba(0, 0, 0, 0);
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  content: " ";
  display: table;
}
.module-ct:after {
  clear: both;
}
.module-ct > ul,
.module-ct .custom > ul,
.module-ct > ol,
.module-ct .custom > ol {
  margin-left: 20px;
  padding-left: 0;
}
.module-ct > ul.unstyled,
.module-ct .custom > ul.unstyled,
.module-ct > ol.unstyled,
.module-ct .custom > ol.unstyled {
  padding-left: 0;
}
.module-ct > ul.nav,
.module-ct .custom > ul.nav,
.module-ct > ol.nav,
.module-ct .custom > ol.nav {
  padding-left: 0;
  margin-left: 0;
}
.module_menu .nav > li {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 10px;
  display: block;
}
.module_menu .nav > li.active > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
}
#login-form ul.unstyled {
  margin-top: 20px;
  padding-left: 20px;
}
#login-form #form-login-remember label {
  font-weight: normal;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
  padding: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px dotted #eeeeee;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
  padding-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4,
.categories-module .mod-articles-category-title,
ul.categories-module .mod-articles-category-title,
.category-module .mod-articles-category-title,
ul.category-module .mod-articles-category-title {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  display: block;
}
.categories-module .mod-articles-category-writtenby,
ul.categories-module .mod-articles-category-writtenby,
.category-module .mod-articles-category-writtenby,
ul.category-module .mod-articles-category-writtenby,
.categories-module .mod-articles-category-date,
ul.categories-module .mod-articles-category-date,
.category-module .mod-articles-category-date,
ul.category-module .mod-articles-category-date {
  color: #666666;
  font-size: 12px;
}
.categories-module .mod-articles-category-writtenby,
ul.categories-module .mod-articles-category-writtenby,
.category-module .mod-articles-category-writtenby,
ul.category-module .mod-articles-category-writtenby {
  font-weight: bold;
  margin-right: 10px;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed ul.newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0;
}
.module-ct .whosonline {
  margin-left: 0;
}
.module-ct .whosonline > li {
  display: inline-block;
  border-radius: 0;
  background: #eeeeee;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  white-space: nowrap;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.tagspopular ul > li {
  background: #eeeeee;
  border-radius: 3px;
  color: #666666;
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  padding: 3px 10px;
}
.tagspopular ul > li > a {
  color: #666666;
}
.tagspopular ul > li .tag-count {
  background: transparent;
  color: #666666;
  display: inline;
  margin: 0;
  padding: 0;
}
.tagspopular ul > li:hover {
  background: #cc0000;
  color: #ffffff;
}
.tagspopular ul > li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.tagspopular ul > li:hover .tag-count {
  color: #ffffff;
}
.tagspopular.tagscloud .tag {
  background: #eeeeee;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 10px;
}
.tagspopular.tagscloud .tag a {
  color: #666666;
}
.tagspopular.tagscloud .tag a:hover,
.tagspopular.tagscloud .tag a:focus,
.tagspopular.tagscloud .tag a:active {
  color: #800000;
}
.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagssimilar ul > li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
.tagssimilar ul > li > a {
  color: #666666;
}
.tagssimilar ul > li > a:hover,
.tagssimilar ul > li > a:focus,
.tagssimilar ul > li > a:active {
  color: #800000;
}
.module-ct > ul.archive-module {
  list-style: none;
  margin: 0;
  padding: 0;
}
.module-ct > ul.archive-module i {
  color: #999999;
  margin-right: 2px;
}
.module-ct > ul.archive-module li {
  border-bottom: 1px solid #eeeeee;
  padding: 7px 0;
}
.module-ct > ul.archive-module li a {
  color: #666666;
}
.module-ct > ul.archive-module li a:hover,
.module-ct > ul.archive-module li a:focus,
.module-ct > ul.archive-module li a:active {
  color: #cc0000;
}
.module-ct > ol.breadcrumb {
  padding: 6px 12px;
  margin-left: 0;
}

.item-page {
  margin-bottom: 40px;
}
.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 20px 0 40px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.article-aside {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 0;
}
.article-header + .article-aside {
  margin-top: -10px;
}
.item-page .article-aside {
  font-size: 14px;
  margin-bottom: 40px;
}
.article-info {
  margin: 0;
  width: 85%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.article-info dd strong {
  font-weight: 600;
}
.article-info dd .fa {
  margin-right: 5px;
}
.category-name {
  text-transform: capitalize;
}
.category-name .fa {
  display: none;
}
.category-name a {
  background: #cc0000;
  color: #fff;
  padding: 2px 5px;
}
.category-name a:hover,
.category-name a:focus,
.category-name a:active {
  background: #800000;
  color: #fff;
  text-decoration: none;
}
.article-footer {
  color: #999999;
  font-size: 12px;
  margin-bottom: 20px;
}
article img,
.article-intro img {
  display: block;
  max-width: 100%;
  height: auto;
}
article img[align=left],
.article-intro img[align=left],
article .img-fulltext-left,
.article-intro .img-fulltext-left,
article .img-intro-left,
.article-intro .img-intro-left,
article .img_caption.left,
.article-intro .img_caption.left,
article .pull-left.item-image,
.article-intro .pull-left.item-image {
  margin-right: 20px;
}
article img[align=right],
.article-intro img[align=right],
article .img-fulltext-right,
.article-intro .img-fulltext-right,
article .img_caption.right,
.article-intro .img_caption.right,
article .img-intro-right,
.article-intro .img-intro-right,
article .pull-right.item-image,
.article-intro .pull-right.item-image {
  margin-left: 20px;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
}
.img-fulltext-right {
  float: right;
}
.img_caption > img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #666666;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
.pull-right.article-image-intro {
  float: left !important;
  margin-left: 0 !important;
}
.pull-right.article-image-intro img {
  margin-left: 0 !important;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  article img,
  .article-intro img,
  article img[align=left],
  .article-intro img[align=left],
  article img[align=right],
  .article-intro img[align=right],
  article .img_caption,
  .article-intro .img_caption,
  article .article-image-full,
  .article-intro .article-image-full,
  article .article-image-intro,
  .article-intro .article-image-intro,
  article .img-intro-none,
  .article-intro .img-intro-none,
  article .img-intro-left,
  .article-intro .img-intro-left,
  article .img-intro-right,
  .article-intro .img-intro-right,
  article .img-fulltext-none,
  .article-intro .img-fulltext-none,
  article .img-fulltext-left,
  .article-intro .img-fulltext-left,
  article .img-fulltext-right,
  .article-intro .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
.item-page .tags {
  border-top: 1px solid #eeeeee;
  padding: 10px 0;
}
.item-page .tags span {
  display: inline-block;
  margin-bottom: 10px;
}
.item-page .tags a {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  color: #666666;
  padding: 5px;
}
.item-page .tags a:hover,
.item-page .tags a:focus,
.item-page .tags a:active {
  background: #999999;
  border-color: #999999;
  color: #800000;
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  padding: 2px 5px;
}
article aside .btn-group > .dropdown-toggle .caret {
  margin-left: 2px;
}
.tag-category .filters {
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .tag-category .filters {
    padding: 20px;
  }
}
.tag-category .thumbnails {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tag-category .thumbnails li {
  background: transparent;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 0;
}
.tag-category .thumbnails li > h3 {
  margin-top: 0;
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #dddddd;
}
.row-odd {
  background-color: rgba(0, 0, 0, 0);
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row-fluid .row-reveal {
  visibility: hidden;
}
.row-fluid:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
  margin-left: 0;
  padding-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #dddddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row-fluid {
  width: 97%;
}
.row-striped .row-fluid [class*="span"] {
  min-height: 10px;
}
.row-striped .row-fluid [class*="span"] {
  margin-left: 8px;
}
.row-striped .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row,
.row-condensed .row-fluid {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #dddddd;
}
.login-wrap .other-links ul {
  padding-left: 20px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 0;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
.profile-edit input {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit input {
    float: left;
    width: 50%;
  }
}
.profile-edit select {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .profile-edit select {
    float: left;
    width: 50%;
  }
}
.profile-edit select + button {
  margin-left: 5px;
}
#searchForm:before,
#searchForm:after {
  content: " ";
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
#searchForm select {
  width: auto;
  display: inline-block;
  margin-left: 5px;
  padding-left: 5px;
}
#searchForm .form-limit {
  margin-top: 20px;
}
#searchForm .form-limit .counter {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  #searchForm .radio-inline,
  #searchForm .checkbox-inline {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-url {
  color: #666666;
  margin-top: 20px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
div.finder {
  margin-bottom: 20px;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items .intro {
  clear: both;
  overflow: hidden;
}
.categories-list {
  margin-bottom: 20px;
}
.category-item:before,
.category-item:after {
  content: " ";
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.category-item .category-item {
  margin-bottom: 0;
  margin-left: 40px;
}
.category-item .category-item .page-header {
  font-size: 14px;
}
.cat-children .page-header {
  line-height: normal;
  padding: 10px 5px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  content: " ";
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.article-content .pagination ul {
  border-left: 1px solid #eeeeee;
}
.article-content .pagination li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #eeeeee;
  border-left: 0;
}
.article-content .pagination li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index,
.article-index {
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 25%;
  border: 1px solid #eeeeee;
  border-radius: 0;
}
#article-index ul,
.article-index ul {
  margin: 0;
  padding: 0;
  border: 0;
}
#article-index ul > li,
.article-index ul > li {
  border: 0;
  margin-top: 2px;
}
#article-index ul > li > a,
.article-index ul > li > a {
  border: 0;
  padding: 5px;
  border-radius: 0;
}
#article-index ul > .active > a,
.article-index ul > .active > a {
  border: 0;
  background: #cc0000;
  color: #ffffff;
}
#article-index ul > .active > a:hover,
.article-index ul > .active > a:hover,
#article-index ul > .active > a:active,
.article-index ul > .active > a:active,
#article-index ul > .active > a:focus,
.article-index ul > .active > a:focus {
  border: 0;
  background: #cc0000;
  color: #ffffff;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav > li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav > li.pagenav-prev,
.pagenav > li.previous {
  margin-right: 10px;
}
.pagenav li > a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #dddddd;
  border-radius: 0;
}
.pagenav li > a:hover,
.pagenav li > a:active,
.pagenav li > a:focus {
  background-color: #eeeeee;
}
.items-more h3 {
  margin: 0 0 20px;
}
.items-more .nav > li {
  border-top: 1px solid #eeeeee;
}
.items-more .nav > li > a {
  padding: 6px 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.alert-message {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-message hr {
  border-top-color: #c9e2b3;
}
.alert-message .alert-link {
  color: #356635;
}
.alert-notice {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-notice hr {
  border-top-color: #a6e1ec;
}
.alert-notice .alert-link {
  color: #2d6987;
}
.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #b94a48;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #953b39;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
@media (min-width: 768px) {
  .languageswitcherload {
    float: right;
    width: 100%;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
}
div.calendar {
  width: 187px;
}
.iframe-bordered {
  border: 1px solid #dddddd;
}
.chzn-container {
  display: inline-block;
  vertical-align: middle;
}
.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices .search-field input,
.chzn-container-single .chzn-search input {
  height: 26px;
}
.chzn-container-single .chzn-drop,
.chzn-container .chzn-drop {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #cccccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #cccccc;
}
.btn-group .chzn-results {
  white-space: normal;
}

.page-header {
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}
.page-title,
.page-header h1 {
  line-height: 1;
  margin: 0;
}
.page-subheader {
  border-bottom: 1px solid #eeeeee;
  margin: 0 0 20px;
  padding-bottom: 20px;
}
.page-subheader:before,
.page-subheader:after {
  content: " ";
  display: table;
}
.page-subheader:after {
  clear: both;
}
.page-subtitle,
.page-subheader h2 {
  line-height: 1;
  margin: 0;
}
.page-header + .page-subheader {
  margin-top: -20px;
}
.article-title h1 a:hover,
.article-header h1 a:hover,
.article-title h2 a:hover,
.article-header h2 a:hover,
.article-title h1 a:active,
.article-header h1 a:active,
.article-title h2 a:active,
.article-header h2 a:active,
.article-title h1 a:focus,
.article-header h1 a:focus,
.article-title h2 a:focus,
.article-header h2 a:focus {
  text-decoration: none;
}
.article-title,
.article-header h1 {
  margin: 0 0 20px 0;
}
.item-title {
  font-weight: bold;
}
.jumbotron:before,
.jumbotron:after {
  content: " ";
  display: table;
}
.jumbotron:after {
  clear: both;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3 {
  margin-top: 0;
}
.jumbotron p {
  color: #666666;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.jumbotron .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.masthead {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.masthead p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 992px) {
  .masthead {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .masthead h1 {
    font-size: 84px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-lg {
    padding: 15px 40px;
    font-size: 24px;
  }
}
.jumbotron-primary {
  background-color: #cc0000;
}
.jumbotron-primary h1,
.jumbotron-primary h2,
.jumbotron-primary h3 {
  color: #ffffff;
}
.jumbotron-primary p {
  color: #ffcccc;
}
.jumbotron-primary .btn-primary {
  border-color: #fff;
}
.page-masthead:before,
.page-masthead:after {
  content: " ";
  display: table;
}
.page-masthead:after {
  clear: both;
}
.page-masthead .jumbotron {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 992px) {
  .page-masthead .jumbotron {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page-masthead .jumbotron .container {
    padding: 0;
  }
}
.label {
  border-radius: 0;
}
.label:empty {
  display: none;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.page-header .label,
.page-header .badge {
  vertical-align: middle;
}
.thumbnail {
  padding: 0;
  margin-bottom: 40px;
}
.alert h4 {
  color: inherit;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #ff9999;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  border-bottom: 0;
  padding: 20px 40px 0;
}
.modal-title {
  font-size: 35px;
}
.modal-body {
  padding: 10px 40px 20px;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.logo a {
  background: transparent;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo:hover a,
.logo a:hover,
.logo a:active,
.logo a:focus {
  background: #b30000;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (min-width: 991px) {
  .logo {
    position: static;
  }
  .logo a {
    background: #b30000;
  }
  .logo:hover a,
  .logo a:hover,
  .logo a:active,
  .logo a:focus {
    color: #ffffff;
  }
}
.off-canvas-toggle + .container .navbar-header .logo {
  left: 55px;
  border-left: 1px solid #b30000;
}
@media screen and (min-width: 991px) {
  .off-canvas-toggle + .container .navbar-header .logo {
    border-left: 0;
  }
}
.logo-image > a {
  max-width: 160px;
  max-height: 55px;
}
.logo-image > a > img {
  max-width: 100%;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text {
  text-transform: uppercase;
  font-size: 18px;
}
.logo-text a {
  line-height: 55px;
  padding: 0 20px;
}
.logo-text .site-slogan {
  display: none;
}
.head-search {
  height: 55px;
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 1000;
}
.head-search form {
  margin: 0;
}
.head-search label {
  display: none;
}
.head-search .search {
  background: #cc0000;
  border-left: 1px solid #b30000;
  border-right: 1px solid #b30000;
  position: relative;
}
@media screen and (min-width: 991px) {
  .head-search .search {
    background: #b30000;
  }
}
.head-search .search .fa-search {
  color: #ffcccc;
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  position: absolute;
  left: 20px;
  top: 19px;
}
.head-search .form-control {
  border: 0;
  background: transparent;
  color: #ffcccc;
  height: 54px;
  line-height: 55px;
  position: relative;
  margin: 0;
  padding: 0 15px 0 40px;
  width: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
@media screen and (min-width: 991px) {
  .head-search .form-control {
    height: 55px;
  }
}
.head-search .form-control:hover,
.head-search .form-control:active,
.head-search .form-control:focus {
  color: #ffffff;
  box-shadow: none;
}
.head-search .form-control:active,
.head-search .form-control:focus {
  width: 180px;
}
.navbar-toggle + .head-search {
  right: 55px;
}
@media screen and (min-width: 991px) {
  .head-search,
  .navbar-toggle + .head-search {
    right: 20px;
    top: 0;
  }
}
.t3-sl {
  padding-bottom: 40px;
  padding-top: 40px;
}
.t3-sl .t3-module {
  margin-bottom: 0;
}
.t3-sl .t3-module + .t3-module {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .t3-sl {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.t3-sl-1 {
  border-bottom: 1px solid #eeeeee;
}
.t3-mainbody {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-sidebar {
  padding-top: 20px;
  padding-bottom: 20px;
}
.t3-footer {
  background: #f7f7f7;
  color: #666666;
}
.t3-footer:before,
.t3-footer:after {
  content: " ";
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer-sl {
  padding: 20px 0;
}
.t3-footer-sl:before,
.t3-footer-sl:after {
  content: " ";
  display: table;
}
.t3-footer-sl:after {
  clear: both;
}
@media screen and (min-width: 768px) {
  .t3-footer-sl {
    padding: 40px 0;
  }
}
.t3-footer-sl .t3-module {
  background: #f7f7f7;
  color: #666666;
  margin-top: 10px;
  margin-bottom: 10px;
}
.t3-footer-sl .t3-module .module-title {
  color: #444444;
  font-size: 18px;
  margin-bottom: 10px;
}
.t3-footer-sl .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.t3-footer-sl .t3-module ul > li {
  line-height: 24px;
}
.t3-footer-sl .t3-module ul > li > a {
  color: #666666;
}
.t3-footer-sl .t3-module ul > li > a:hover,
.t3-footer-sl .t3-module ul > li > a:active,
.t3-footer-sl .t3-module ul > li > a:focus {
  color: #666666;
}
#back-to-top {
  position: fixed;
  right: 20px;
  top: auto;
}
#back-to-top.affix {
  bottom: 40px;
}
#back-to-top a {
  outline: none;
}
#back-to-top i {
  font-size: 28px;
}
.t3-copyright {
  border-top: 1px solid #eeeeee;
  font-size: 12px;
  padding: 40px 0 80px;
}
.t3-copyright:before,
.t3-copyright:after {
  content: " ";
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.t3-copyright small {
  margin-bottom: 5px;
}
.copyright {
  margin-bottom: 20px;
}
.poweredby:before,
.poweredby:after {
  content: " ";
  display: table;
}
.poweredby:after {
  clear: both;
}
@media screen and (min-width: 991px) {
  .poweredby {
    text-align: right;
  }
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  display: inline-block;
}
.mod-preview-info {
  z-index: 2000;
}

.features-intro .t3-content {
  padding-top: 0;
  padding-bottom: 0;
}
.row-feature {
  border-top: 1px solid #eeeeee;
  padding: 40px 0;
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
}
.page-masthead .row-feature {
  padding: 40px 0;
}
@media screen and (min-width: 992px) {
  .row-feature {
    padding: 60px 0;
  }
  .page-masthead .row-feature {
    padding: 100px 0;
  }
}
.row-feature h1,
.row-feature h2,
.row-feature h3 {
  line-height: 1.15;
  color: #444444;
}
.row-feature h1 {
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .row-feature h1 {
    font-size: 84px;
  }
}
.row-feature h1 + p {
  margin-top: -55px;
}
.row-feature h2 {
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .row-feature h2 {
    font-size: 42px;
  }
}
.row-feature h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .row-feature h3 {
    font-size: 27.6px;
  }
}
.row-feature h3 + p {
  margin-top: -10px;
}
.row-feature .feature-ct {
  width: 100%;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .row-feature .pull-left.item-image + .feature-ct {
    width: 50%;
    float: right;
    padding-left: 20px;
  }
  .row-feature .pull-right.item-image + .feature-ct {
    width: 50%;
    float: left;
    padding-right: 20px;
  }
}
.row-feature.text-center {
  text-align: center;
}
.row-feature.row-feature-alt,
.row-feature:nth-child(even) {
  background: #f7f7f7;
}
.row-feature.row-feature-primary {
  background: #cc0000;
  color: #ffcccc;
}
.row-feature.row-feature-primary h1,
.row-feature.row-feature-primary h2,
.row-feature.row-feature-primary h3 {
  color: #ffffff;
}
.row-feature.row-feature-primary .feature-ct,
.row-feature.row-feature-primary p {
  color: #ffcccc;
}
.row-feature.row-feature-primary .btn-primary {
  border-color: #fff;
}
.row-feature.row-feature-primary + .row-feature-primary {
  border-top: 1px solid #990000;
}
.row-feature .row-feature-narrow {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row-feature:first-child {
  border-top: 0;
}
.row-feature .item-image {
  width: 100%;
  float: none;
  margin-bottom: 20px;
}
.row-feature .item-image img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .row-feature .pull-left.item-image,
  .row-feature .pull-right.item-image {
    max-width: 50%;
    min-width: 25%;
    margin-bottom: 0;
  }
  .row-feature .pull-left.item-image {
    float: left;
    text-align: left;
    padding-right: 20px;
  }
  .row-feature .pull-right.item-image {
    float: right;
    text-align: right;
    padding-left: 20px;
  }
}
.row-feature .page-header {
  border: 0;
  margin: 0 0 20px;
  padding: 0;
}
.row-feature .jumbotron {
  background: transparent;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .row-feature .jumbotron {
    margin-bottom: 60px;
  }
}
.row-feature .gallery .thumbnail {
  border: 0;
  padding: 0;
}
.row-feature .gallery .thumbnail a {
  display: block;
  border: 1px solid #eeeeee;
  padding: 3px;
  -webkit-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;
}
.row-feature .gallery .thumbnail a img {
  width: 100%;
  padding: 0;
}
.row-feature .gallery .thumbnail a:hover,
.row-feature .gallery .thumbnail a:focus,
.row-feature .gallery .thumbnail a:active {
  border-color: #bbbbbb;
}
.row-feature .gallery .thumbnail a:hover img,
.row-feature .gallery .thumbnail a:focus img,
.row-feature .gallery .thumbnail a:active img {
  opacity: .7;
}
.support-policy .row-support-policy {
  margin-bottom: 20px;
}
.support-policy .policy-item {
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
}
.support-policy .policy-item .col-type {
  position: relative;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  background: #f7f7f7;
}
.support-policy .policy-item .col-type h3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.support-policy .policy-item .col-detail {
  height: 200px;
  padding: 20px;
}
.support-policy .policy-item .col-level {
  height: 80px;
  background: #444444;
  color: #fff;
  position: relative;
}
.support-policy .policy-item .col-level .face,
.support-policy .policy-item .col-level .count-up,
.support-policy .policy-item .col-level > strong {
  height: 80px;
  line-height: 80px;
}
.support-policy .policy-item .col-level .level-info {
  width: 160px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.support-policy .policy-item .col-level .level-info .face {
  background-image: url(../../../images/emoticons.png);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.35);
  display: table-cell;
  width: 80px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.support-policy .policy-item .col-level .level-info .count-up {
  width: 80px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.15);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.support-policy .policy-item .col-level strong {
  width: 100%;
  color: #ffffff;
  display: block;
  float: left;
  font-weight: bold;
  padding-left: 180px;
  font-size: 18px;
}
.support-policy .policy-item .col-level.level-1 strong {
  background: #3e9b52;
}
.support-policy .policy-item .col-level.level-1 .face {
  background-position: 0px 0px;
}
.support-policy .policy-item .col-level.level-2 strong {
  background: #2f773f;
}
.support-policy .policy-item .col-level.level-2 .face {
  background-position: 0px -80px;
}
.support-policy .policy-item .col-level.level-3 strong {
  background: #ffcc00;
}
.support-policy .policy-item .col-level.level-3 .face {
  background-position: 0px -160px;
}
.support-policy .policy-item .col-level.level-4 strong {
  background: #cca300;
}
.support-policy .policy-item .col-level.level-4 .face {
  background-position: 0px -240px;
}
.support-policy .policy-item .col-level.level-5 strong {
  background-color: #ff8800;
}
.support-policy .policy-item .col-level.level-5 .face {
  background-position: 0px -320px;
}
.support-policy .policy-item .col-level.level-6 strong {
  background: #cc0000;
}
.support-policy .policy-item .col-level.level-6 .face {
  background-position: 0px -400px;
}
.support-policy:hover {
  background: #ffffff;
  border-color: #eeeeee;
}
.support-policy:hover .level-info .face {
  top: -70px;
}
.support-policy:hover .level-info .count-up {
  bottom: 0;
}
.support-policy.style2 {
  margin-bottom: 60px;
}
.support-policy .row-heading {
  background: #444444;
  color: #ffffff;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .support-policy .row-heading {
    display: table;
    width: 100%;
  }
}
.support-policy .row-heading > div {
  border-right: 1px solid #5e5e5e;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .support-policy .row-heading > div {
    font-size: 15px;
    display: table-cell;
  }
}
.support-policy .row-body {
  border-left: 1px solid #eeeeee;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .support-policy .row-body {
    display: table;
    width: 100%;
    margin-bottom: 0;
  }
}
.support-policy .row-body > div {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px;
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  .support-policy .row-body > div {
    display: table-cell;
    float: none;
  }
}
.support-policy .row-body .col-type {
  background: #444444;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .support-policy .row-body .col-type {
    background: transparent;
    color: #444444;
  }
}
.support-policy .row-body .col-level {
  font-size: 32px;
  text-align: center;
}
.support-policy .row-body .col-status {
  border-bottom: 0;
}
.support-policy .row-body .col-status .face {
  background-image: url(../../../images/emoticons.png);
  background-repeat: no-repeat;
  display: block;
  height: 80px;
  margin: 0 auto;
  width: 80px;
}
.support-policy .row-body .col-status strong {
  color: #ffffff;
  display: block;
  padding: 3px 0;
  text-align: center;
}
.support-policy .row-body.level-1 .col-status {
  background: #3e9b52;
}
.support-policy .row-body.level-1 .col-status .face {
  background-position: 0px 0px;
}
.support-policy .row-body.level-2 .col-status {
  background: #44aa5a;
}
.support-policy .row-body.level-2 .col-status .face {
  background-position: 0px -80px;
}
.support-policy .row-body.level-3 .col-status {
  background: #4bb762;
}
.support-policy .row-body.level-3 .col-status .face {
  background-position: 0px -160px;
}
.support-policy .row-body.level-4 .col-status {
  background: #59bd6f;
}
.support-policy .row-body.level-4 .col-status .face {
  background-position: 0px -240px;
}
.support-policy .row-body.level-5 .col-status {
  background: #68c37b;
}
.support-policy .row-body.level-5 .col-status .face {
  background-position: 0px -320px;
}
.support-policy .row-body.level-6 .col-status {
  background: #77c888;
}
.support-policy .row-body.level-6 .col-status .face {
  background-position: 0px -400px;
}
.support-policy .row-alt {
  background: #f7f7f7;
}
.support-policy .support-yes {
  color: #3e9b52;
}
.support-policy .support-no {
  color: #e1e1e1;
}
.pricing-table {
  padding-top: 40px;
  padding-bottom: 100px;
}
.pricing-table .col {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .pricing-table .col {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .pricing-table .col.no-padding {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .pricing-table .col.shadow {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
.pricing-table .col .big-number {
  display: inline-block;
  font-size: 70px;
}
.pricing-table .col .big-number sup {
  font-size: 28px;
  top: -1em;
}
.pricing-table .col .btn {
  font-size: 20px;
  padding: 10px 20px;
}
.pricing-table .col .col-header {
  background: #666666;
  color: #ffffff;
  padding: 10px 20px;
}
.pricing-table .col ul {
  border: 1px solid #eeeeee;
  border-bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pricing-table .col ul li {
  border-bottom: 1px solid #eeeeee;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}
.pricing-table .col ul li.row1 {
  background: #f7f7f7;
}
.pricing-table .col ul li i {
  color: #3e9b52;
  font-size: 18px;
}
.pricing-table .col ul li.no i {
  color: #cc0000;
}
.pricing-table .col ul li.no {
  color: #999999;
  text-decoration: line-through;
}
.pricing-table .col .col-footer {
  background: #eeeeee;
  border: 1px solid #d5d5d5;
  padding: 20px;
}
.pricing-table .col-feature {
  z-index: 200;
}
@media screen and (min-width: 992px) {
  .pricing-table .col-feature {
    margin-top: -20px;
  }
}
.pricing-table .col-feature .col-header {
  background: #cc0000;
  padding: 20px 20px;
}
.pricing-table.style2 .col:first-child .col-header {
  border-radius: 5px 0 0 0;
}
.pricing-table.style2 .col:first-child .col-footer {
  border-radius: 0 0 0 5px;
}
.pricing-table.style2 .col:last-child .col-header {
  border-radius: 0 5px 0 0;
}
.pricing-table.style2 .col:last-child .col-footer {
  border-radius: 0 0 5px 0;
}
.pricing-table.style2 .col-feature {
  border-radius: 5px;
}
.pricing-table.style2 .col-feature .col-header {
  border-radius: 5px 5px 0 0;
}
.pricing-table.style2 .col-feature .col-footer {
  border-radius: 0 0 5px 5px;
}
.our-team .lead {
  margin-bottom: 60px;
}
.our-team .thumbnail {
  text-align: center;
  border: 0;
  padding: 0 20px;
}
.our-team .thumbnail .caption {
  padding-bottom: 20px;
}
.our-team .thumbnail h3 {
  margin-bottom: 5px;
}
.our-team .thumbnail .btn {
  border-radius: 50%;
  height: 32px;
  line-height: 32px;
  margin: 0 2px;
  padding: 0;
  text-align: center;
  width: 32px;
}
.our-team .thumbnail .btn:hover {
  background: #cc0000;
  border-color: #cc0000;
  color: #ffffff;
}
.video-wrapper {
  position: relative;
  padding-bottom: 51%;
  padding-top: 30px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

